@model BookUpdateDTO

@{
    ViewData["Title"] = "BookUpdate";
}

<h1>Update Book</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateBook">

            <input asp-for="Id" hidden />

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <input asp-for="Genre" class="form-control" />
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsLoanAble" />
                    @Html.DisplayNameFor(model => model.IsLoanAble)
                </label>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="BookIndex">Back</a>
</div>